<div ng-include="'../static/partials/menu.html'"></div>

        <modal visible="showModal1" on-sown="modalOneShown()" on-hide="modalOneHide()">
            <modal-header title=""></modal-header>
            <modal-body>
                 Die Suchanfrage ist für dieses Thema bereits vorhanden. Bitte wählen Sie eine andere Suchanfrage.
            </modal-body>
            <modal-footer>
                <button class="btn btn-primary"  ng-click="hide(1)">Zurück</button>
            </modal-footer>
        </modal>

        <modal visible="showModal3" on-sown="modalOneShown()" on-hide="modalOneHide()">
            <modal-header-success title=""></modal-header-success>
            <modal-body>
                 Das Thema "{{postDataTitle}}" wurde erfolgreich geändert.
            </modal-body>
            <modal-footer>
                <button class="btn btn-primary"  ng-click="hide(3, postDataTitle)">Weiter</button>
            </modal-footer>
        </modal>

        <modal visible="showModal4" on-sown="modalOneShown()" on-hide="modalOneHide()">
            <modal-header-success title=""></modal-header-success>
            <modal-body>
                 Die neue Suchanfrage für das Thema "{{postDataTitle}}" wurde erfolgreich hinzugefügt.
            </modal-body>
            <modal-footer>
                <button class="btn btn-primary"  ng-click="hide(4, postDataTitle)">Weiter</button>
            </modal-footer>
        </modal>



<form role="form" name="topicForm" ng-submit="submitTopicForm()">
<div class="area">



    <div ng-include="'../static/partials/dropdown.html'"></div>

    <div class="row">

        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">Thema bearbeiten</div>
                <div class="panel-body">

                    <div class="col-md-6">
       <div class="form-group">

                                <label>Titel ändern</label>
                                <input ng-pattern="/^[a-zA-Z\s]*$/" class="form-control" name="newTopicTitle" ng-model="newTopicTitle" placeholder="{{myDropDown}}">
                                <p class="alert alert-danger" ng-show="topicForm.newTopicTitle.$error.pattern"> <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Titel dürfen nur Buchstaben enthalten.</p>

                                   <p class="alert">

                                        Thema aktivieren / deaktivieren<input class="tgl tgl-light" id="cb1" type="checkbox" ng-model="checkboxStatus.active"/>
                                        <label class="tgl-btn" for="cb1"></label>




                                        Kollaboration aktivieren / deaktivieren<input class="tgl tgl-light" id="cb2" type="checkbox" ng-model="checkboxStatus.collab"/>
                                        <label class="tgl-btn" for="cb2"></label>
</p>

                            </div>

                    </div>

                </div>


            </div>
        </div>
    </div>

        <div class="row">

        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">Suchanfragen</div>
                <div class="panel-body">

                    <button ng-repeat="item in queryObjects track by $index" ng-click="" type="button" class="btn btn-md btn-primary btn-rounded">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span> {{item.QUERY.term}}</button>

                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">Suchanfrage hinzufügen</div>
                <div class="panel-body">

                    <input style="width:180px;max-width:180px;display:inline-block" ng-pattern="/^[a-zA-Z\s]*$/" name="newQuery" ng-model="newQuery" style="width:180px;max-width:180px;display:inline-block" type="text" class="form-control" id="newQuery">
                    <button type="submit" class="btn btn-default btn-circle btn-lg"><i class="glyphicon glyphicon-plus"></i></button>

                    <p class="alert alert-danger" ng-show="topicForm.newQuery.$error.pattern"> <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>Suchanfragen dürfen keine Sonderzeichen enthalten.</p>
<br><br>


                </div>


            </div>
        </div>
    </div>

        <div class="row">

        <div class="col-lg-12">
            <div class="panel panel-default">

                <div class="panel-body">

              <button type="submit" class="btn btn-default">Fertig</button>
              <button type="button" class="btn btn-default" ng-click="cancelEdit()">Abbrechen</button>
                </div>


            </div>
        </div>
    </div>



</div>
</form>