<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div ng-controller="UserLoginCtrl" class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><span>Web Monitoring</span> Tool</a>
            <ul class="user-menu">
                <li class="dropdown pull-right">
                    <svg class="glyph stroked male-user">
                        <use xlink:href="#stroked-male-user"></use>
                    </svg> Hello, {{user.USER.name}}!
                </li>
            </ul>
        </div>

    </div>
    <!-- /.container-fluid -->
</nav>

<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <ul class="nav menu">
        <li>
            <a href="#/dashboard/">
                <svg class="glyph stroked home">
                    <use xlink:href="#stroked-home" />
                </svg>
                Dashboard</a>
        </li>
        <li>
            <a href="#/dashboard/usersources">
                <svg class="glyph stroked calendar">
                    <use xlink:href="#stroked-calendar"></use>
                </svg>
                Meine Quellen</a>
        </li>
        <li>
            <a href="#/dashboard/newsletter">
                <svg class="glyph stroked open letter">
                    <use xlink:href="#stroked-open-letter" />
                </svg>
                Newsletter</a>
        </li>
        <li>
            <a href="#/dashboard/newsletter">
                <svg class="glyph stroked pencil">
                    <use xlink:href="#stroked-pencil"></use>
                </svg>
                Einstellungen</a>
        </li>
        <li>
            <a href="#/dashboard/search">
                <svg class="glyph stroked star">
                    <use xlink:href="#stroked-star"></use>
                </svg>
                Suche</a>
        </li>
        <li role="presentation" class="divider"></li>
        <li>
            <a href="#/dashboard/userconfig">

                <svg class="glyph stroked male-user">
                    <use xlink:href="#stroked-male-user"></use>
                </svg>
                Logout</a>
        </li>
    </ul>

</div>