<nav class="main-menu col-sm-3 col-lg-2 sidebar" id="sidebar-collapse">

            <ul>


                <li>
                    <a href="#/">
                        <i class="fa fa-home fa-lg"></i>
                        <span class="nav-text">
                            Home
                        </span>
                    </a>

                </li>

                <li>
                    <a href="#/search">
                        <i class="fa fa-search fa-lg" aria-hidden="true"></i>
                        <span class="nav-text">
                            Suche
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#/newsletter">
                        <i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i>
                        <span class="nav-text">
                            Newsletter
                        </span>
                    </a>
                </li>
                <li>
                   <a href="#/usersources">
                       <i class="fa fa-folder-open fa-lg"></i>
                        <span class="nav-text">
                            Meine Quellen
                        </span>
                    </a>
                </li>
                <li>
                   <a href="#/userconfig">
                       <i class="fa fa-cog fa-lg" aria-hidden="true"></i>
                        <span class="nav-text">
                            Einstellungen
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#/help">
                       <i class="fa fa-question fa-lg" aria-hidden="true"></i>
                        <span class="nav-text">
                           Hilfe
                        </span>
                    </a>
                </li>
                <li>
                   <a href="#/logout">
                         <i class="fa fa-power-off fa-lg"></i>
                        <span class="nav-text">
                            Logout
                        </span>
                    </a>
                </li>


            </ul>

        </nav>



<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div ng-controller="StartCtrl" class="navbar-header">

            <a class="navbar-brand" href="#/"><span>Web Monitoring</span> Tool</a>
            <ul class="user-menu">
                <li style="color: whitesmoke" class="dropdown pull-right">
                    <svg class="glyph stroked male-user">
                        <use xlink:href="#stroked-male-user"></use>
                    </svg> Hallo, {{user.USER.name}}!
                </li>
            </ul>
        </div>

    </div>
    <!-- /.container-fluid -->
</nav>
