<div ng-include="'../static/partials/menu.html'"></div>
<div class="area">

    <div class="row">

        <div class="col-md-12 widget-left alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span> Wähle ein Thema aus
            <br>oder lege ein neues Thema an:
        </div>

        <div class="col-md-8 panel panel-blue panel-widget">


            <div class="col-md-6 widget-right">



            </div>
        </div>

        <div class="row no-padding">
            <div class="panel panel-blue panel-widget">
                <div class="col-md-2 widget-right">

                    <div class="dropdown">

                        <select name="pickTopic" id="pickTopic" ng-change="selectAction()" ng-model="myDropDown" class="form-control">

                            <option ng-repeat="i in usertopics track by $index" value="{{i.title}}">{{i.title}}</option>

                        </select>
                    </div>

                </div>
                <div title="Neues Thema anlegen" class="col-md-2 widget-left ">
                    <a href="" ng-click="addTopic()">
                        <svg class="glyph stroked plus sign " style="color:white">
                            <use xlink:href="#stroked-plus-sign" />
                        </svg>
                    </a>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
			<div class="col-xs-12 col-md-6 col-lg-3" ng-repeat="i in usertopics">
				<div class="panel panel-blue panel-widget ">
					<a href="" ng-click="selectPanel(i.title)"><div class="row no-padding">
						<div class="col-sm-3 col-lg-5 widget-left">
							<svg class="glyph stroked clipboard with paper"><use xlink:href="#stroked-clipboard-with-paper"></use></svg>
						</div>
						<div class="col-sm-9 col-lg-7 widget-right">
							<div class="large">{{i.title}}</div>
							<!--<div class="text-muted">xyz</div>-->
						</div>
					</div></a>
				</div>
			</div>
		</div><!--/.row-->

</div>
