<style>.constrained {
    height:900px;
    overflow-y:scroll;
}
</style>





<form role="form" name="topicForm" ng-submit="submitTopicForm()">
<div class="area constrained">

    <div class="row">

        <div class="col-md-8 panel panel-blue panel-widget">

            <div class="col-md-6">
                <h2>{{myDropDown}} </h2>

            </div>
            <div class="col-md-6 widget-right">


            </div>
        </div>



        <div class="row no-padding">
            <div class="panel panel-blue panel-widget">
                <div class="col-md-2 widget-right">

                    <div class="dropdown">

                        <select name="pickTopic" id="pickTopic" ng-change="selectAction()" ng-model="myDropDown" class="form-control">

                            <option ng-repeat="i in usertopictitles track by $index" value="{{i}}">{{i}}</option>

                        </select>
                    </div>

                </div>
                <div class="col-md-2 widget-left ">
                    <a href="" ng-click="addTopic()">
                        <svg class="glyph stroked plus sign " style="color:white">
                            <use xlink:href="#stroked-plus-sign" />
                        </svg>
                    </a>

                </div>
            </div>
        </div>
    </div>

                <div ng-if="selectedTopic.active == 'False'" class="row alert alert-danger">

                     <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span> Dieses Thema wurde deaktiviert.
        </div>

    <div class="row well">
                     <a href="" ng-click="editTopic()">
                    <button ng-if="myDropDown" type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Bearbeiten
                    </button>
                </a>

        </div>



    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">Trendradar</div>
                <div class="panel-body">
                    <div class="canvas-wrapper">
                        <canvas class="main-chart" id="line-chart" height="200" width="600"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">

            <div class="panel panel-default">
                <div class="panel-heading">Latest News</div>
                <div class="panel-body">
                    <div class="col-lg-10"></div>

                    <label class="checkbox-inline"><span class="glyphicon glyphicon-star" style="color: red" aria-hidden="true"></span>
                        <input type="checkbox" id="mycheckbox" name="mycheckbox" ng-model="myCheckbox" data-ng-change="myCheckbox ? filterBookmarks() : showAll()" />
                        <small>markierte Dokumente filtern</small></label>

                    <div ng-show="documentCollection.empty" class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  Es gibt keine markierten Dokumente in dieser Collection.
</div>


                    <table class="table table-hover" infinite-scroll="increaseLimit()" infinite-scroll-container='".constrained"'>
                        <thead>
                            <tr>
                                <th style="width: 80%">Title</th>
                                <th style="width: 20%">Datum</th>
                            </tr>
                        </thead>
                        <tbody>

                            <!--limitTo:barLimit track by $index  -->
                            <tr ng-repeat="item in documentCollection | limitTo:barLimit | unique: 'item._id.$oid'" ng-click="selectDocument(item)">
                                <td>{{item.title}}</td>
                                <td>{{item.date}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>

    </div>



</div>
</form>