<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends "adminLayout.html" %}
{% block body %}

<div class="block1">
<h1>Hello!</h1>
  <h2>Here is an interesting quote for you: </h2>
  <p>
"The limits of my language are the limits of my mind. All I know is what I have words for."
  </p>
<img src="http://www.naturalprogramming.com/images/smilingpython.gif">

          <input type = "button" onclick = "sayHello()" value = "Say Hello" />

</div>
{% endblock %}
</body>
</html>