<!--
The content in the ng-view div will change based on the routing, but everything else on the dashboard.html page will be the
same for every view of your application.
-->


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Web Monitoring Tool WMT </title>

    <!--Bootstrap-->

    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/bootstrap-table.css" rel="stylesheet">

    <!--Custom Style Sheets-->

    <link href="../static/css/datepicker3.css" rel="stylesheet">

    <link href="../static/css/styles.css" rel="stylesheet">
    <link href="../static/css/menu.css" rel="stylesheet">

    <!--Costum Font -->

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">

    <!--Icons-->
    <script src="../static/js/lumino.glyphs.js"></script>

    <!--Custom Scripts -->
    <script src="../static/js/underscore.js"></script>
    <script src="../static/js/angular.min.js"></script>
    <script src="../static/js/angular-route.min.js"></script>
    <script src="../static/js/angular-resource.min.js"></script>
    <script src="../static/js/angular-filter.js"></script>


    <!--Angular Modules -->
    <script src="../static/js/app.js"></script>
    <script src="../static/js/factories/apiFactory.js"></script>
    <script src="../static/js/factories/sharedServicesModule.js"></script>

    <script src="../static/js/controllers/docController.js"></script>
    <script src="../static/js/controllers/dropdownController.js"></script>
    <script src="../static/js/controllers/topicController.js"></script>
    <script src="../static/js/controllers/newTopicController.js"></script>
    <script src="../static/js/controllers/editTopicController.js"></script>
    <script src="../static/js/controllers/userController.js"></script>
    <script src="../static/js/controllers/startController.js"></script>
    <script src="../static/js/directives/infiniteScroll.js"></script>
    <script src="../static/js/factories/testFactory.js"></script>


    <!--Custom Style Scripts -->
    <script src="../static/js/jquery-1.11.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/chart.min.js"></script>
    <script src="../static/js/chart-data.js"></script>
    <script src="../static/js/easypiechart.js"></script>
    <script src="../static/js/easypiechart-data.js"></script>
    <script src="../static/js/bootstrap-datepicker.js"></script>
    <script src="../static/js/bootstrap-table.js"></script>


<!--[if lt IE 9]>
<script src="../js/html5shiv.js"></script>
<script src="../js/respond.min.js"></script>
<![endif]-->

</head>


<!--Angular app initiates-->
<body ng-app="myApp">



<!--Dashboard main content dynamically-->
<div class="ng-view"></div>

<!--the menu and header -->
<div ng-include="'../static/partials/menu.html'"></div>

</body>

</html>